<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<p>Home</p>
<div><p>======АДМИНИСТРИРОВАНИЕ======</p></div>
<div><a href="/db">db h2<</a></div>
<div><a href="/">home</a></div>
<div><a href="/user/reg">registration</a></div>
<div><a href="/user/login">login<</a></div>
<div><p>======УЧЕТ======</p></div>
<div><a href="/product/create">Creation of product</a></div>
<div><a href="/product/filter">Filter of product</a></div>
<div><a href="/worker/create">Creation of worker</a></div>
<div><a href="/worker/filter">Filter of worker</a></div>
<div><p>======производство======</p></div>
<div><a href="/receiptOrder/create">Creation of receipt Order Of Goods</a></div>
<div><a href="/receiptOrder/filter">Filter receipt Order Of Goods</a></div>
<div><a href="/operation/create">Creation of receipt operation</a></div>
<div><a href="/operation/filter">Filter of operation</a></div>

</body>
</html>