<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <title>Creation of worker</title>
</head>
<body>


<div>

  <form th:action="@{/receiptOrder/create}" th:object="${receiptOrderDTO}" method="POST">
    <div  class="mb-3">
      <label for="orderQuantity" class="form-label">Name of product</label>
      <input th:field="*{productName}" type="text" class="form-control" id="orderQuantity" name="quantity"/>
    </div>
    <div  class="mb-3">
      <label for="orderPrice" class="form-label">Quantity of products</label>
      <input th:field="*{quantity}" type="text" class="form-control" id="orderPrice" name="Price"/>
    </div>
    <div  class="mb-3">
      <label for="productUnit" class="form-label">Unit  of goods</label>
      <input th:field="*{unit}" type="text" class="form-control" id="productUnit" name="unit"/>
    </div>
    <div  class="mb-3">
      <label for="productName" class="form-label">Price</label>
      <input th:field="*{price}" type="text" class="form-control" id="productName" name="productName"/>
    </div>
    <button type="submit" class="create">Submit</button>
  </form>
  <div class="alert alert-primary" role="alert">
    <li th:text="${message}"></li>
  </div>

</div>


</body>
</html>