<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <title>operation creation</title>
</head>
<body>

<form th:action="@{/operation/create}" th:object="${operationDTO}" method="POST">
  <div  class="mb-3">
    <label for="operationName" class="form-label">Name of operation</label>
    <input th:field="*{operationName}" type="text" class="form-control" id="operationName" name="name"/>
  </div>
  <div  class="mb-3">
    <label for="spendProductName" class="form-label">Spend Product Name</label>
    <input th:field="*{spendProductName}" type="text" class="form-control" id="spendProductName" name="spendProduct"/>
  </div>
  <div  class="mb-3">
    <label for="manufacturedProductName" class="form-label">manufactured Product Name</label>
    <input th:field="*{manufacturedProductName}" type="text" class="form-control" id="manufacturedProductName" name="manufacturedProduct"/>
  </div>
  <div  class="mb-3">
    <label for="requiredQuantityForProduction" class="form-label">required Quantity For Production</label>
    <input th:field="*{requiredQuantityForProduction}" type="text" class="form-control" id="requiredQuantityForProduction" name="requiredQuantity"/>
  </div>
  <div  class="mb-3">
    <label for="workerName" class="form-label">worker Name</label>
    <input th:field="*{workerName}" type="text" class="form-control" id="workerName" name="workerName"/>
  </div>
  <div  class="mb-3">
    <label for="operationPayment" class="form-label">operation Payment</label>
    <input th:field="*{operationPayment}" type="text" class="form-control" id="operationPayment" name="payment"/>
  </div>

  <button type="submit" class="create">Submit</button>
</form>

<div class="alert alert-primary" role="alert">
  <li th:text="${message}"></li>
</div>

</body>
</html>