<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Filter</title>
</head>
<body>
<form th:action="@{/product/create}" th:object="${product}" method="POST">
    <div  class="mb-3">
        <label for="product" class="form-label">Name of product</label>
        <input th:field="*{name}" type="text" class="form-control" id="product" name="name"/>
    </div>


    <div  type="text" class="mb-3" id="productUnit" >
        <select name="unit" th:field="*{unit}" type="text" id="passengers" class="form-select" placeholder="Количество пассажиров">
            <option value="PSC">PSC</option>
            <option value="KG">KG</option>
            <option value="M">M</option>
            <option value="mm">mm</option>
            <option value="MMK">MMK</option>
            <option value="MK">MK</option>
            <option value="MMQ">MMQ</option>
            <option value="MQ">MQ</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="alert alert-primary" role="alert">
    <li th:text="${message}"></li>
</div>
</body>
</html>