<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <title>RECEIPT ORDERS</title>
</head>
<body>
<div><p>======АДМИНИСТРИРОВАНИЕ======</p></div>
<div><a href="/db">db h2<</a></div>
<div><a href="/">home</a></div>
<div><a href="/user/reg">registration</a></div>
<div><a href="/user/login">login<</a></div>
<div><p>======УЧЕТ======</p></div>
<div><a href="/product/create">Creation of product</a></div>
<div><a href="/product/filter">Filter of product</a></div>
<div><a href="/worker/create">Creation of worker</a></div>
<div><a href="/worker/filter">Filter of worker</a></div>
<div><p>======производство======</p></div>
<div><a href="/receiptOrder/create">Creation of receipt Order Of Goods</a></div>
<div><a href="/receiptOrder/filter">Filter of Creation of receipt Order Of Goods</a></div>
<div>
  <div><p>======LIST OF RECEIPT ORDERS======</p></div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Prise</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="receiptOrder, state: ${receiptOrders}">
      <td th:utext="${state.count}">count</td>
      <td th:text="${receiptOrder.product.name}">Onions</td>
      <td th:text="${receiptOrder.prise}">Onions</td>
      <td th:text="${receiptOrder.quantity}">Onions</td>
      <td th:text="${receiptOrder.product.unit}">Onions</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>