<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <title>RECEIPT ORDERS</title>
</head>
<body>
<div th:insert="~{header::header}"></div>
<div><p>======LIST OF RECEIPT ORDERS======</p></div>
<div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Prise</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="receiptOrder, state: ${receiptOrders}">
      <td th:utext="${state.count}">count</td>
      <td th:text="${receiptOrder.product.name}">Onions</td>
      <td th:text="${receiptOrder.prise}">Onions</td>
      <td th:text="${receiptOrder.quantity}">Onions</td>
      <td th:text="${receiptOrder.product.unit}">Onions</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>