<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      <head>
      <meta charset="UTF-8">
      <title>workers</title>
</head>
<body>
<div><p>======АДМИНИСТРИРОВАНИЕ======</p></div>
<div><a href="/db">db h2<</a></div>
<div><a href="/">home</a></div>
<div><a href="/user/reg">registration</a></div>
<div><a href="/user/login">login<</a></div>
<div><p>======УЧЕТ======</p></div>
<div><a href="/product/create">Creation of product</a></div>
<div><a href="/product/filter">Filter of product</a></div>
<div><a href="/worker/create">Creation of worker</a></div>
<div><a href="/worker/filter">Filter of worker</a></div>
<div><p>======производство======</p></div>
<div><a href="/receiptOrderOfGoods/create">Creation of receipt Order Of Goods</a></div>
<div><a href="/receiptOrderOfGoods/filter">Filter of Creation of receipt Order Of Goods</a></div>
<div>
  <div><p>======LIST OF RECEIPT ORDERS======</p></div>
  <section th:each="product : ${products}">
    <p th:text="${product}"></p>
    <ul>
      <li th:each="name: ${product}"></li>
    </ul>
  </section>
</div>
</body>
</html>