<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>OPERATIONS</title>
</head>
<body>

    <div><p>======АДМИНИСТРИРОВАНИЕ======</p></div>
    <div><a href="/db">db h2<</a></div>
    <div><a href="/">home</a></div>
    <div><a href="/user/reg">registration</a></div>
    <div><a href="/user/login">login<</a></div>
    <div><p>======УЧЕТ======</p></div>
    <div><a href="/product/create">Creation of product</a></div>
    <div><a href="/product/filter">Filter of product</a></div>
    <div><a href="/worker/create">Creation of worker</a></div>
    <div><a href="/worker/filter">Filter of worker</a></div>

        <div><p>======LIST OF OPERATIONS======</p></div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">spent Product</th>
                <th scope="col">required Quantity For Production</th>
                <th scope="col">manufactured Product</th>
                <th scope="col">worker</th>
                <th scope="col">payment</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="operationDTO, state  : ${operationsDTO}">
                <td th:utext="${state.count}">count</td>
                <td th:text="${operationDTO.id}">Onions</td>
                <td th:text="${operationDTO.operationName}">Onions</td>
                <td th:text="${operationDTO.spendProductName}">Onions</td>
                <td th:text="${operationDTO.requiredQuantityForProduction}">Onions</td>
                <td th:text="${operationDTO.manufacturedProductName}">Onions</td>
                <td th:text="${operationDTO.workerName}">Onions</td>
                <td th:text="${operationDTO.operationPayment}">Onions</td>
            </tr>
            </tbody>
        </table>

        </head>


</body>
</html>