<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<p>Home</p>
<div><p>======АДМИНИСТРИРОВАНИЕ======</p></div>
<div><a href="/db">db h2<</a></div>
<div><a href="/">home</a></div>
<div><a href="/user/reg">registration</a></div>
<div><a href="/user/login">login<</a></div>
<div><p>======УЧЕТ======</p></div>
<div><a href="/product/create">Creation of product</a></div>
<div><a href="/product/filter">Filter of product</a></div>
<div><a href="/worker/create">Creation of worker</a></div>
<div><a href="/worker/filter">Filter of worker</a></div>
<div><p>======производство======</p></div>
<div><a href="/receiptOrder/create">Creation of receipt Order Of Goods</a></div>
<div><a href="/receiptOrder/filter">Filter receipt Order Of Goods</a></div>
<div><a href="/operation/create">Creation of operation</a></div>
<div><a href="/operation/filter">Filter of operation</a></div>
<div><a href="/production">PRODUCTION</a></div>

<div>
    <form th:action="@{/user/logout}" method="post">
        <button>LOGOUT</button>
    </form>
    <section th:each="user : ${users}">
        <p th:text="${user}"></p>
        <ul>
            <li th:each="phone: ${user}"></li>
        </ul>
    </section>
</div>
</body>
</html>