<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<p>Home</p>
<div><a href="/db">db h2<</a></div>
<div><a href="/">home</a></div>
<div><a href="/user/reg">redistration</a></div>
<div><a href="/user/login">login<</a></div>
<div>
    <form th:action="@{/user/logout}" method="post">
        <button>LOGOUT</button>

        <section th:each="user : ${users}">
            <p th:text="${user}"></p>
            <ul>
                <li th:each="phone: ${user}"></li>
            </ul>
        </section>
    </form>
</div>
</body>
</html>